RockPaper/RockPaper.Wpf/Service References/RockPaperServiceReference/RockPaperService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Contracts.Common" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Contracts.Providers" />
  <xs:element name="GetNextAvailableGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q1:guid" />
        <xs:element minOccurs="0" name="useSimulator" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNextAvailableGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="GetNextAvailableGameResult" nillable="true" type="q2:ResponseItemOfguid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsItMyTurn">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q3:guid" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsItMyTurnResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="IsItMyTurnResult" nillable="true" type="q5:ResponseItemOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayHand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q6:guid" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="teamId" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Contracts.Common" minOccurs="0" name="hand" type="q8:Hand" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PlayHandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="PlayHandResult" nillable="true" type="q9:ResponseItemOfOperationOutcomew4XXQMJA" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamebyGameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q10:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamebyGameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="GetGamebyGameIdResult" nillable="true" type="q11:ResponseItemOfGameRcKUQpc9" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterTeamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="RegisterTeamResult" nillable="true" type="q12:ResponseItemOfTeams5xbATXb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamByTeamName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="teamName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTeamByTeamNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Contracts.Response" minOccurs="0" name="GetTeamByTeamNameResult" nillable="true" type="q13:ResponseItemOfTeams5xbATXb" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedRoundByGameId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="gameId" type="q14:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompletedRoundByGameIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Contracts.Providers" minOccurs="0" name="GetCompletedRoundByGameIdResult" nillable="true" type="q15:ArrayOfRound" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>