RockPaper/RockPaper.Wpf/Service References/RockPaperServiceReference/RockPaperService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RockPaperService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RockPaper.Contracts.Response" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/RockPaper.Contracts.Common" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/RockPaper.Contracts" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/RockPaper.Contracts.Api" />
      <xsd:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/RockPaper.Contracts.Providers" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRockPaperService_GetNextAvailableGame_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAvailableGame" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_GetNextAvailableGame_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAvailableGameResponse" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_IsItMyTurn_InputMessage">
    <wsdl:part name="parameters" element="tns:IsItMyTurn" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_IsItMyTurn_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsItMyTurnResponse" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_PlayHand_InputMessage">
    <wsdl:part name="parameters" element="tns:PlayHand" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_PlayHand_OutputMessage">
    <wsdl:part name="parameters" element="tns:PlayHandResponse" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_GetGamebyGameId_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGamebyGameId" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_GetGamebyGameId_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGamebyGameIdResponse" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_RegisterTeam_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeam" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_RegisterTeam_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterTeamResponse" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_GetTeamByTeamName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamByTeamName" />
  </wsdl:message>
  <wsdl:message name="IRockPaperService_GetTeamByTeamName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTeamByTeamNameResponse" />
  </wsdl:message>
  <wsdl:portType name="IRockPaperService">
    <wsdl:operation name="GetNextAvailableGame">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/GetNextAvailableGame" message="tns:IRockPaperService_GetNextAvailableGame_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/GetNextAvailableGameResponse" message="tns:IRockPaperService_GetNextAvailableGame_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="IsItMyTurn">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/IsItMyTurn" message="tns:IRockPaperService_IsItMyTurn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/IsItMyTurnResponse" message="tns:IRockPaperService_IsItMyTurn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PlayHand">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/PlayHand" message="tns:IRockPaperService_PlayHand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/PlayHandResponse" message="tns:IRockPaperService_PlayHand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGamebyGameId">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/GetGamebyGameId" message="tns:IRockPaperService_GetGamebyGameId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/GetGamebyGameIdResponse" message="tns:IRockPaperService_GetGamebyGameId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterTeam">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/RegisterTeam" message="tns:IRockPaperService_RegisterTeam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/RegisterTeamResponse" message="tns:IRockPaperService_RegisterTeam_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTeamByTeamName">
      <wsdl:input wsaw:Action="http://tempuri.org/IRockPaperService/GetTeamByTeamName" message="tns:IRockPaperService_GetTeamByTeamName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRockPaperService/GetTeamByTeamNameResponse" message="tns:IRockPaperService_GetTeamByTeamName_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRockPaperService" type="tns:IRockPaperService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetNextAvailableGame">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/GetNextAvailableGame" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsItMyTurn">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/IsItMyTurn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlayHand">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/PlayHand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGamebyGameId">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/GetGamebyGameId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterTeam">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/RegisterTeam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTeamByTeamName">
      <soap:operation soapAction="http://tempuri.org/IRockPaperService/GetTeamByTeamName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RockPaperService">
    <wsdl:port name="BasicHttpBinding_IRockPaperService" binding="tns:BasicHttpBinding_IRockPaperService">
      <soap:address location="http://localhost:49207/Services/RockPaperService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>