RockPaper/RockPaper.Wpf/Service References/RockPaperServiceReference/RockPaperService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Contracts.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Contracts" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Contracts.Api" />
  <xs:import schemaLocation="http://localhost:49207/Services/RockPaperService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Contracts.Providers" />
  <xs:complexType name="ResponseItemOfguid">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseItemOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="guid" Namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemOfguid" nillable="true" type="tns:ResponseItemOfguid" />
  <xs:complexType name="Result">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Errors" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="IsSuccessfull" type="xs:boolean" />
      <xs:element minOccurs="0" name="ResultCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ResultDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
  <xs:complexType name="ResponseItemOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseItemOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element minOccurs="0" name="Data" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemOfboolean" nillable="true" type="tns:ResponseItemOfboolean" />
  <xs:complexType name="ResponseItemOfOperationOutcomew4XXQMJA">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseItemOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="OperationOutcome" Namespace="http://schemas.datacontract.org/2004/07/Contracts" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Contracts" minOccurs="0" name="Data" nillable="true" type="q2:OperationOutcome" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemOfOperationOutcomew4XXQMJA" nillable="true" type="tns:ResponseItemOfOperationOutcomew4XXQMJA" />
  <xs:complexType name="ResponseItemOfGameRcKUQpc9">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseItemOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Game" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Api" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Contracts.Api" minOccurs="0" name="Data" nillable="true" type="q3:Game" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemOfGameRcKUQpc9" nillable="true" type="tns:ResponseItemOfGameRcKUQpc9" />
  <xs:complexType name="ResponseItemOfTeams5xbATXb">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseItemOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Response" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Team" Namespace="http://schemas.datacontract.org/2004/07/Contracts.Providers" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Result">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Contracts.Providers" minOccurs="0" name="Data" nillable="true" type="q4:Team" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseItemOfTeams5xbATXb" nillable="true" type="tns:ResponseItemOfTeams5xbATXb" />
</xs:schema>